<div class="form-group">
    <label>Show Labels</label>
    <input type="checkbox" ng-model="vis.params.showLabels" checked class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Show Values</label>
    <input type="checkbox" ng-model="vis.params.showValues" class="ng-pristine ng-valid ng-touched">
</div>
<div class="form-group">
    <label>Enable Zoom</label>
    <input type="checkbox" ng-model="vis.params.enableZoom" checked class="ng-pristine ng-valid ng-touched">
</div>
